html{
    background-image: url("./studio.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    opacity: .9;
}
header{
    display: flex;
    justify-content: space-between;
    color: white;
}
.highscore a:hover, :visited, :active, :link{
    text-decoration: none;
    color: white;
}
.timer {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 240px;
    padding: 10px;
    text-align: center;
  }
#main {
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1000px;
    
}
.welcome {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
    text-align: center;
}
.welcome button {
    margin-bottom: 1%;
}
.welcome h3 {
    max-width:800px;
}
.start {
    margin-bottom: 1%;
}
.hide {
    display:none;
}
.choices {
    background-color:black; 
    color:white; 
    display: flex; 
    flex-direction: row;
    justify-content:center;
}
.end-style {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    border-width: 2px;
    text-align: center;
}
.highscoreStyle {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color:white;
}
.highscoreStyle #sidebyside {
    display:flex;
    flex-direction: row;
    margin-bottom: 1%
}
p {
    margin: 1%;
    padding: 0;
}

@media screen and (max-width:1032px){
    html{
        background-image: none;
        background-color: burlywood;
    }
}